
body{
    text-align: center;
}
.Tituloprincipal{
    color: #3f7dcf;
background-color: #4B6070;
}
.Titulosecundario{
    color: #4379C0;
    background-color: #4B6070;
}
.Titulojogos{
    color: #4379C0;
    background-color: #4B6070;
}
body{
    background-color: #4B6070;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.textointeiro{
    max-width: 1300px;
    text-align: center;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #4379C0;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.conteudo-padrao{
    background-color: #4289C3;
    border:  1px solid #4B6070;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #4379C0;
    
}
.conteudo-padrao{
    padding: 20px;
    margin: 20px;
}
